parameters:


application:
	errorPresenter: Error
	mapping:
		*: Pd\StorageAdmin\*Module\Presenters\*Presenter

extensions:
	storageSdk: Pd\StorageSDK\DI\StorageSDKExtension

session:
	expiration: 14 days


di:
	export:
		parameters: no
		tags: no

storageSdk:
	basePath: http://api.pdstorage.test
